{% extends "page/page.twig" %}

{% block post_content %}
    {% for post in posts %}
        {% include ['teasers/tease-'~post.post_type~'.twig', 'teasers/tease.twig'] %}
    {% endfor %}
    {% if pagination %}
        <div class="row">
            <div class="col-xs-12 text-right">
                {% include "system/pagination.twig" %}
            </div>
        </div>
    {% endif %}
{% endblock %}