{% extends "system/base.twig" %}

{% block content %}
	<div id="page-content">
        {{ post.content }}
	</div>
	{# Give a block to post things like listing content or highlights in for pages based on this template. #}
	{% block post_content %}{% endblock %}
{% endblock %}