$inline-quote-border-color: black;
$inline-quote-background-color: gray;


blockquote,
.inline-quote {
  display: block;
  font-size: 20px;
  color: black;
  font-style: italic;
  line-height: 1.5;
  padding: 20px 30px;
  margin: 15px 0;
  border: 0 none;

  .quote {
    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  .quote-byline {
    margin-top: 17px;
    font-size: 14px;
  }

}