@import "../variables";

$off-canvas-height: 40px;

.offcanvas-header {
  padding-top: 50px;
}

.offcanvas {
  

  > ul {
    margin: 0;
    padding: 0;

    > li.menu-item {
      background-color: darkgray;
      list-style: none;
      width: 100%;

      > a {
        position: relative;
        display: inline-block;
        padding-left: 15px;
        width: 100%;
        height: $off-canvas-height;
        line-height: $off-canvas-height;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: white;

        &:active, &:hover {
          text-decoration: none;
        } 
      }     

      &.menu-item-has-children > a:after{
          font-family: FontAwesome;
          content: "\f078";
          position: absolute;
          right: 10px;
          top: 0;
          @include transition(all .2s linear);
          @include rotate(0);        
        }

      &.menu-item-has-children.active > a:after {
        @include transition(all .2s linear);
        @include rotate(180deg);
      }
    }

    ul.dropdown-menu {
      position: inherit;
      display: inherit;
      height: 0;
      float: none;
      padding: 0 0 0 15px;
      margin: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      overflow: hidden;
      border: 0;
      transition: height 1s;

      li {
        font-size: 14px;

        a {
          padding: 7px 0;
          white-space: normal;
          text-decoration: none;
        }
      }
    }

    > li.menu-item.active {
      background-color: darkblue;

      > ul.dropdown-menu {
        height: inherit;
        //transition: height 1s;
      }
    }
  }
}