{% extends "system/base.twig" %}

{% block hero_content %}
    {% include "widgets/slider-owl.twig" %}
{% endblock %}

{% block content %}
    {% for slide in slider %}
        {{ slide.title }}
    {% endfor %}

    {{ post.content }}
    {{ post.title }}
    <?php if(get_field('banner_slider')): ?>
    <div class="home-banner">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
    <?php endif; ?>




{% endblock %}