<footer id="footer" class="content-info container-fluid" role="contentinfo">
    <div id="footer-inner">
        <div class="row">
            <div class="col-md-2 col-lg-3 footer-info">
                <a href="/"><img src="<?php echo get_template_directory_uri(); ?>/assets/images/contra-costa-college-logo-small.png" alt="<?php echo __('Contra Costa College Footer Logo'); ?>"/></a>
                <div id="footer-phone-number" class="phone-number">(som) enu-mber</div>
            </div>
            <div class="col-xs-12 col-md-10 col-lg-9">
                <div class="row footer-menus">
                    {{ sidebar_footer }}
                </div>
                <div class="footer-social">
                    <span class="footer-social-title">{{  __('Social Media') }}</span>
                    {% include "menu/menu-social.twig" with {'menu': social_menu.get_items} %}
                </div>
            </div>
        </div>
        <div class="scroll"><a href="#"><i class="fa fa-chevron-up"></i><br/>top</a></div>
        <div class="copyright">
            {{ copyright }}
        </div>
    </div>
</footer>