{% if menu %}
    {# @TODO Create two templates, vertical and horizontal #}

    <nav class="navbar navbar-default">
        <div id="primary-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for item in menu %}
                    <li class="{{item.classes | join(' ')}}">
                        <a class='menu-item-link' href="{{item.get_link}}">{{item.title}}</a>
                        {% include "menu/menu-submenu.twig" with {'menu': item.get_children} %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endif %}